[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/core"]
	path = lib/core
	url = https://github.com/symbioticfi/core
[submodule "lib/network"]
	path = lib/network
	url = https://github.com/symbioticfi/network
